@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
  font-family: 'Josefin Sans';
  background-color: #107A8B;
  color: white;
}
header {
  background-color: #156471;
  display: flex;
}
.mainicon {
display: flex;
width: 40px;
}
.pokeList {
  display: flex;
  justify-content: space-around;
  background-color: #3B5441;
  border-radius: 20px;
}
