@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
  font-family: 'Josefin Sans';
  background-color: #107A8B;
  color: white;
}
.pokeBtn {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.3em;
  cursor: pointer;
  background-color: #3B5441;
  border-radius: 20px;
  border: solid;
  border-color: #304535;
}
.main {
  background-color: #156471;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.mainicon {
  display: flex;
  width: 40px;
  margin-right: 10px;
}
.text {
  align-items: center;
  justify-content: center;
  display: grid;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.subtitle{
  margin-top: 10px;
  text-align-last: center;
}
.filterBar {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.topBtn {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #FF1A1A;
  cursor: pointer;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  z-index: 10;
  opacity: 0.7;
  padding: 1%;
}
.list {
  display: none;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: #3B5441;
  border-radius: 20px;
  border: solid;
  border-color: #304535;
}
.listBtn {
  margin: 0.1em;
  cursor: pointer;
}
.eggBtn {
  cursor: pointer;
  margin-top: 10%;
  width: 50%;
}
.pokeList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.pokeImg {
  border: solid;
  border-color: #27372A;
  background-color: #585B59;
  margin: 1em;
}
.pokeType{
  
}
.filterBtn {
  display: flex;
  width: 70px;
}
.attribution {
  color: lightgray;
}
.highlight {
  background-color: #5c8265;
}
